Package: com.tutu.systemcorner
Name: System Corner
Version: 1.0.7
Architecture: iphoneos-arm64e
Description: Tùy chỉnh độ bo góc UI hệ thống trên iOS 16.
Maintainer: Tú Tú
Author: Tú Tú
Section: Tweaks
Depends: firmware (>= 16.0)
