<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundle</key>
	<string>SystemCorner1pxPrefs</string>

	<key>cell</key>
	<string>PSLinkCell</string>

	<key>detail</key>
	<string>SystemCorner1pxPrefs</string>

	<key>icon</key>
	<string>icon.png</string>

	<key>isController</key>
	<true/>

	<key>label</key>
	<string>SystemCorner</string>

	<key>preferenceLoader</key>
	<string>com.apple.preferences</string>
</dict>
</plist>
