<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>

			<key>label</key>
			<string>Enabled</string>

			<key>key</key>
			<string>SC16Enabled</string>

			<key>default</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>

			<key>label</key>
			<string>Corner Radius</string>

			<key>key</key>
			<string>SystemCornerRadius</string>

			<key>default</key>
			<real>1.0</real>

			<key>placeholder</key>
			<string>1</string>

			<key>keyboardType</key>
			<string>UIKeyboardTypeNumbersAndPunctuation</string>
		</dict>

	</array>

	<key>title</key>
	<string>SystemCorner</string>

</dict>
</plist>
