<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>items</key>
    <array>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>SystemCorner</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Enabled</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.trantu2641.systemcorner</string>
            <key>key</key>
            <string>SCEnabled</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSTextFieldCell</string>
            <key>label</key>
            <string>Corner Radius</string>
            <key>default</key>
            <real>1.0</real>
            <key>defaults</key>
            <string>com.trantu2641.systemcorner</string>
            <key>key</key>
            <string>SCRadius</string>
            <key>placeholder</key>
            <string>1</string>
            <key>keyboard</key>
            <string>numberPad</string>
        </dict>

    </array>

    <key>title</key>
    <string>SystemCorner</string>

</dict>
</plist>
